# Dev settings
HOST=0.0.0.0
PORT=18000

DEBUG=true
LOG_LEVEL=DEBUG
LOG_FILE_DIR=./logs
RAG_STORAGE_DIR=./rag_storage

# DataBase
PGSQL_HOST=localhost
PGSQL_PORT=5432
PGSQL_USER=postgres
PGSQL_PASSWORD=password
PGSQL_DATABASE=datamate

# Label Studio settings
LABEL_STUDIO_BASE_URL=http://localhost:30001

LABEL_STUDIO_USER_TOKEN="demo_dev_token"

DATAMATE_JWT_ENABLE=false

# Milvus settings (Vector Database)
# Development: use localhost
MILVUS_URI=http://localhost:19530
MILVUS_TOKEN=
# Production: use service name
# MILVUS_URI=http://milvus:19530
