spring:
  main:
    allow-circular-references: true
  application:
    name: datamate-gateway  # 必须设置应用名

  cloud:
    nacos:
      discovery:
        fail-fast: false
        # 显式设置端口
        port: ${server.port:30000}  # 与服务端口一致
        server-addr: ${NACOS_ADDR:https://consulservice:18302}
        username: consul
        password:
        ip: ${spring.application.name}
        secure: true
        cluster-name: DEFAULT

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://datamate-database:5432/datamate?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

datamate:
  jwt:
    secret: ${JWT_SECRET}
    expiration-seconds: 3600
  # 服务器端口配置
server:
  port: 8080  # 必须有这个配置